
.textocima {
    color: white;
}

.sobremim {
    color: white;
}

.habi{
    color: white;
}

.habili {
    color: white;
}

.gosto{
    color: white;
}

.eugosto {
    color: white;
}

.Melhorpersonagem{
    color: white;
}

.omori {
    color: white;
}